<footer class="bottom-navigation">
    <nav>
        <ul class="nav__list">
            <li class="nav__items"><a href="/">🏠</a></li>
            <li class="nav__items"><a href="/">🖼️</a></li>
            <li class="nav__items"><a href="/">🙍</a></li>
        </ul>
    </nav>
</footer>