<footer>
    <div>
        <p>Terms of Use</p>
        <p>Privacy and Policy</p>
        <p>1-590-567-9957</p>
        <p>test@gmail.com</p>
    </div>
    <br>
    <div>
        <p>English</p>
        <p>&copy; 2025 from Scrunch</p>
    </div>
</footer>