<!-- sidebar -->
<aside>
    <h1 class="logo"><a href="/"><span>Scrunch</span></a></h1>
    <% if (isAuthenticated == true) { %>
        <nav>
            <ul class="nav__list">
                <!-- yo dont add this VVV just add profile 💔🥀 -->
                <li class="nav__items">
                    <a href="/user/<%= id %>"><%= firstName %> <%= lastName %></a>
                </li>
                <li class="nav__items">
                    <a href="/create/"><span>Create</span></a>
                </li>
                <li class="nav__items">
                    ><a href="/signout"><span>Sign out</span></a>
                </li>
            </ul>
        </nav>
    <% } else { %>
        <nav>
            <ul class="nav__list">
                <li class="nav__items"><a href="/">
                    <i class="fa-solid fa-house"></i><span>Home</span></a>
                </li>
                <li class="nav__items">
                    <button id="newPostBtn">
                        <i class="fas fa-plus"></i><span>Create</span>
                    </button>
                </li>
                <li class="nav__items"><a href="/">
                    <i class="fa-solid fa-circle-user"></i><span>Profile</span></a>
                </li>
                <!-- pending for removal: login, signup -->
                <li class="nav__items">
                    <a href="/login"><span>Log in</span></a>
                </li>
                <li class="nav__items">
                    <a href="/signup"><span>Sign up</span></a>
                </li>
            </ul>
        </nav>
    <% } %>
</aside>
<br>