/* header.ejs */
.header__mobile {
    display: none;
}

@media (max-width: 784px) {
    .header__mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--primary-color);
        padding: 1rem;
    }

    .header__mobile .logo a{
        display: block;
        background: url('/assets/V1-Logo.png') no-repeat center center;
        background-size: contain;
        overflow: hidden;
        width: 160px;
        height: 90px;
    }
}

/* feed.ejs */
.post__container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
    width: clamp(450px ,100%, 468px);
    max-width: 468px;
    padding: 0 0 1rem 0;
    margin: 1rem 0 0 0;
}

@media (max-width: 784px) {
    .post__container .post__header,
    .post__container .post__caption,
    .post__container .post__metrics{
        padding: 0 .5rem;
    }
}

/* feed header */
.post__container .post__header {
    display: flex;
    align-items: center;
    margin: 0 0 .75rem 0;
    gap: .5rem;
}

.post__container .post__header p,
.post__container .post__header .post__time-stamp * {
    color: var(--grey-text);
}

.post__container .post__header .post__edit {
    all: unset;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .25rem;
    background-color: var(--none-bg);
}

.post__container .post__header .post__edit i {
    color: var(--accent-color);
}

/* feed caption */
.post__container .post__caption {
    white-space: pre-wrap;
    margin: 0 0 .25rem 0;
    word-wrap: break-word;
}

.post__container .post__caption .show-more {
    all: unset;
    color: var(--grey-text);
    cursor: pointer;
}

/* feed main */
.post__container .post__content {
    display: flex;
    flex-direction: column;
}

.post__container .post__content .post__image {
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    width: clamp( 450px, 100%, 468px);
    border-radius: .25rem;
}

@media (max-width: 784px) {
    .post__container .post__content {
        padding: 0;
    }
}

/* feed metrics */
.post__container .post__metrics {
    display: flex;
    margin: .25rem 0;
    gap: 1rem;
}

/* w/authentication */
.post__container .post__metrics .reaction-form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post__container .post__metrics .like-container,
.post__container .post__metrics .comment-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.post__container .post__metrics .post__like,
.post__container .post__metrics .post__comment{
    all: unset;
    cursor: pointer;
    font-size: 2rem;
    border-radius: .25rem;
    background-color: var(--none-bg);
}

.post__container .post__metrics .post__like *,
.post__container .post__metrics .post__comment *{
    color: var(--accent-color);
    transition: color 0.3s ease ,opacity 0.3s ease;
}

.post__container .post__metrics .post__like *:hover,
.post__container .post__metrics .post__comment *:hover{
    opacity: .8;
}

.post__container .post__metrics .post__like i.fa-cookie-bite {
    color: var(--red-text);
}

/* w/o authentication */
.post__container .post__metrics .post__not-login a {
    color: var(--blue-text);
} 

.post__container .post__metrics .post__not-login a:hover {
    text-decoration: underline;
} 


/* sidebar.ejs */
.sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    align-self: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--primary-color);
    border-right: 1px solid var(--accent-color);
    transition: width 0.3s ease;
    height: 100vh;
    width: 16vw;
    top: 0;
    padding: 2rem 1rem;
    gap: 2rem;
}

.sidebar .logo a {
    display: block;
    background: url('/assets/V1-Logo.png') no-repeat center center;
    background-size: contain;
    overflow: hidden;
    width: 160px;
    height: 90px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-grow: 1;
}

.sidebar nav .nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 1rem;
}

.sidebar nav .nav__list .nav__items > * {
    all: unset;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: var(--none-bg);
    color: var(--dark-text);
    width: 100%;
    padding: 1rem 0 1rem .5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
    flex-shrink: 0;
}

.sidebar nav .nav__list .nav__items * > i {
    margin: 0 .75rem 0 0;
    font-size: 1rem;
}

.sidebar nav .nav__list .nav__items > *:hover {
    background: var(--secondary-color);
}

.sidebar nav .nav__list .nav__items .nav__items--red *{
    color: var(--red-text);
}

@media (max-width: 1260px) {
    .sidebar {
        align-items: center;
        width: 70px;    
        padding: 1rem;
    }
    
    .sidebar .logo a {
        display: block;
        width: 40x;
        height: 40px;
        background: url('/assets/V1-logo-Isolated.png') no-repeat center center;
        background-size: contain;
        overflow: hidden;
    }

    .sidebar nav {
        flex-grow: 0;
    }

    .sidebar nav .nav__list .nav__items * > span {
        display: none;
    }

    .sidebar nav .nav__list .nav__items > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
  
    }

}

/* bottom_navigation.ejs */
    .bottom-navigation {
        display: none;
    }

@media (max-width: 784px) {
    .sidebar {
        display: none;
    }

    .bottom-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;          
        background-color: var(--primary-color);
        border-top: 1px solid var(--accent-color);
        bottom: 0;
        left: 0;
        width: 100%;                
        height: 10vh;
    }

    .bottom-navigation nav {
        width: 100%;
    }

    .bottom-navigation nav .nav__list {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    
    .bottom-navigation nav .nav__list .nav__items > *{
        all: unset;
        display: flex;
        align-items: center;
        text-align: center;
        border: none;
        cursor: pointer;
        background-color: var(--none-bg);
        padding: 1rem;
    }

    .bottom-navigation nav .nav__list .nav__items .nav__items--red *{
        color: var(--red-text);
    }
}

