/* main */
main {
    display: flex;
}

/* content */
main .main-content {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 2rem 0;
    flex: 1;
    gap: 1rem;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    main .main-content {
        padding: 1rem 0 4rem 0;
    }
}

/* user/vanity metrics */
main .main-content .profile__info-metrics  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 2rem 1rem;
    padding: 1rem;
    width: 90%;
    border-bottom: 1px solid var(--border-color);
    gap: 1rem;
}

/* profile avatar */
main .main-content .profile__info-metrics .profile__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    color: var(--light-text);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2rem;
}

/* profile information */
main .main-content .profile__info-metrics .profile__information .profile__name {
    font-size: 1.25rem;
}

/* vanity metrics */
main .main-content .profile__information .profile__vanity-metrics {
    display: flex;
}

main .main-content .profile__information .profile__vanity-metrics .profile__vanity {
    display: flex;
    list-style: none;
}

main .main-content .profile__information .profile__vanity-metrics .profile__vanity .profile__metrics {
    font-size: 1rem;
}

/* feed override - enabled */

.feed-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: clamp(450px ,100%, 100vw);
}

.post__container {
    border: none;
    width: clamp( 128px, 100%, 300px);
    max-width: 300px;
    padding: 0;
    margin: 0;
}

.post__container .post__content .post__image {
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    width: clamp( 128px, 100%, 300px);
    height: clamp( 128px, 100%, 300px);;
    border-radius: .25rem;
}

.post__container .post__metrics .post__comment,
.post__container .post__metrics .post__like {
    all: unset;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: .25rem;
    background-color: var(--none-bg);
}

/* feed overide - disabled */
.post__container .post__header {
    display: none;
}

.post__container .post__caption {
    display: none;
}